<div class="mt-5 mx-5" id="form">
<h1 class="text-center">Edit or delete your booking</h1>
<ul>
<%= simple_form_for [ @booking ] do |f| %>
  <%= f.input :starting_date %>
  <%= f.input :ending_date %>
  <%= f.submit :submit, class: "btn btn-primary" %>
<% end %>
<div class="pt-5 center"><%= link_to 'Back to offers page', root_path, class: "btn btn-accent" %></div>
</div>
