<div class="form">
  <h1>Here´s your offer!</h1>
  <%= form_for(@booking) do |f| %>
    offer_id: <%= f.text_field :offer_id %><br />
    starting_date: <%= f.text_field :starting_date %><br />
    ending_date: <%= f.text_area :ending_date %><br />
    <%= f.submit %>
  <% end %>
</div>
