<div class="mt-5 mx-5" id="form">
<h1 class="text-center">Edit or delete your offer</h1>
<ul>
<br>
<%= simple_form_for [ @offer ] do |f| %>
  <%= f.input :photo, as: :file %>
  <%= f.input :price %>
  <%= f.input :duration %>
  <%= f.input :description %>
  <%= f.input :title %>
  <%= f.input :location %>
  <br>
  <br>
  <%= f.submit "Submit", class: "btn btn-primary mt-2" %>
<% end %>
<div class="pt-5 center"><%= link_to 'Back to Homepage', root_path, class: "btn btn-accent ms-0" %></div>
<br>
</div>
