<div class="mt-5 mx-5">
<h1 class="text-center">Edit or delete your offer</h1>
<ul>
<%= simple_form_for [ @offer ] do |f| %>
  <%= f.input :photo, as: :file %>
  <%= f.input :price %>
  <%= f.input :duration %>
  <%= f.input :description %>
  <%= f.input :title %>
  <%= f.input :location %>
  <%= f.submit :submit, class: "btn btn-primary" %>
<% end %>
<div class="pt-5 center"><%= link_to 'Back to offers page', root_path, class: "btn btn-accent" %></div>
</div>
