
<div class="mt-2 mx-5">
  <h1 class="text-center">   Create a new offer</h1>
  <ul>
  <br>
  <div class="form d-flex align-items-center col-md-12" id="form">
    <%= simple_form_for [ @offer ] do |f| %>
      <%= f.input :photo, as: :file %>
      <%= f.input :price %>
      <%= f.input :duration %>
      <%= f.input :description %>
      <%= f.input :title %>
      <%= f.input :location %>
      <br>
      <br>
      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  </div>
  <div class="pt-5"><%= link_to 'Back to Homepage', root_path, class: "btn btn-accent ms-0" %></div>
  <br>
</div>
