<div class="flex-item"></div>
<div class="mt-5 mx-5 card-trip">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-trip-infos">
    <div>
      <h2><%= @offer.title %></h2>
      <p><%= @offer.description %></p>
    </div>
    <h2 class="card-trip-pricing"><%= @offer.price %></h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>
<p>
  <strong>Name:</strong>

</p>
<ul>
    <%# <li><%= image_tag offer.movie.poster_url, alt: "movie poster", width: 200 </li>%>
    <li><%= @offer.title %></li>
    <li><%= @offer.duration %></li>
    <li></li>
    <li></li>
    <li><%= @offer.location %></li>
    <%# <li><%= link_to 'Delete', offer_path(offer), method: :delete, data: { confirm: 'Are you sure?' }</li> %>
</ul>
<%= link_to 'Back', offers_path %>
<%= link_to 'New booking for this offer', new_offer_booking_path(@offer) %>
</div>
